/* .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    width: 100vw;
    height: auto;
}

.movie-card {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    width: 113px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 113px;
    height: 141px;
    border-radius: 5px;
}

.movie-card-info {
    margin-top: 16px;

}

.movie-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.movie-card p {
    font-size: 16px;
    line-height: 1.5;
} */